.kanban .task-detail__detail-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000000A;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1000;
  cursor: default;
}

.kanban .task-detail__detail-modal-wrapper {
  position: fixed;
  top: 80px;
  bottom: 0;
  right: 0;
  width: 720px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.kanban .task-detail__detail-modal-content {
  flex: 1;
  overflow-y: auto;
}

/* 헤더 */
.kanban .task-detail__detail-modal-header {
  width: 100%;
  height: 56px;
  padding: 0px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kanban .task-detail__detail-modal-close-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kanban .task-detail__detail-modal-delete-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 공통 섹션 */
.kanban .task-detail__detail-modal-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 30px;
  border-top: 1px solid #EEF1F6;
}

/* 작업 설명(TITLE) */
.kanban .task-detail__detail-modal-title-info-name {
  font-size: 18px;
  font-weight: 600;
  color: '#0F1B2A';
}

.kanban .task-detail__detail-modal-title-info-name-description {
  font-size: 14px;
  font-weight: 400;
  color: #5F6B7A;
}

/* 작업 정보 */
/* 작업 정보 공통 */
.kanban .task-detail__detail-modal-info-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.kanban .task-detail__detail-modal-info-label {
  width: 80px;
  font-size: 13px;
  font-weight: 500;
  color: #0F1B2A;
  flex-shrink: 0;
}

/* 보고자 */
.kanban .task-detail__detail-modal-info-row--reporter {
  display: flex;
  align-items: center;
  gap: 6px;
}

.kanban .task-detail__detail-modal-info-row--reporter>div:last-child {
  font-size: 13px;
  font-weight: 400;
  color: #0F1B2A;
}

/* 담당자 */
.kanban .task-detail__detail-modal-info-value--participants {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.kanban .task-detail__detail-modal-participant-item {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
}

.kanban .task-detail__detail-modal-participant-name {
  font-size: 13px;
  font-weight: 400;
  color: #0F1B2A;
}

.kanban .task-detail__detail-modal-participant-delete {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 24px;
}

.kanban .task-detail__detail-modal-participant-add {
  cursor: pointer;
}

/* 시작일, 마감일 */
.kanban .task-detail__detail-modal-info-row--date {
  height: 24px;
}

.kanban .task-detail__detail-modal-info-value--date {
  display: flex;
  align-items: center;
  gap: 8px;
}

.kanban .task-detail__detail-modal-info-icon {
  display: flex;
  align-items: center;
}

.kanban .task-detail__detail-modal-info-date {
  font-size: 13px;
  font-weight: 400;
  color: #0F1B2A;
}

/* 우선 순위, 상태 */
.kanban .task-detail__detail-modal-info-value--select-option {
  width: 80px;
  font-size: 13px;
  font-weight: 500;
  color: #0F1B2A;
  flex-shrink: 0;
}

/* 가중치 */
.kanban .task-detail__detail-modal-info-row--weight {
  align-items: flex-start;
}

.kanban .task-detail__detail-modal-info-label-weight {
  display: flex;
  align-items: center;
  gap: 4px;
}

.kanban .task-detail__detail-modal-info-label-weight-text {
  font-size: 13px;
  position: relative;
  top: -1px;
}

.kanban .task-detail__detail-modal-info-label-weight-icon {
  display: flex;
  align-items: center;
  height: 16px;
}

.kanban .task-detail__detail-modal-info-weight-slider {
  width: 228px;
  height: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}

.kanban .task-detail__detail-modal-info-weight-track {
  position: relative;
  width: 100%;
  height: 4px;
  display: flex;
  align-items: center;
}

.kanban .task-detail__detail-modal-info-weight-track-bg {
  height: 1px;
  background-color: #E4E8EE;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.kanban .task-detail__detail-modal-info-weight-tick {
  width: 4px;
  height: 4px;
  background-color: #E4E8EE;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.kanban .task-detail__detail-modal-info-weight-handler {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #16B364;
  box-shadow: 0px 0px 0px 3px #AAF0C4;
  cursor: grab;
  user-select: none;
}

.kanban .task-detail__detail-modal-info-weight-labels {
  position: relative;
  width: 100%;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: #7D8998;
  margin-top: 12px;
}

.kanban .task-detail__detail-modal-info-weight-label {
  position: absolute;
  transform: translateX(-50%);
}

/* 작업 필드 */
.kanban .task-detail__detail-modal-section--field {
  gap: 16px
}

.kanban .task-detail__detail-modal-section--field-title {
  font-size: 15;
  font-weight: 600;
  color: #0F1B2A;
}

.kanban .task-detail__detail-modal-field-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.kanban .task-detail__detail-modal-field-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.kanban .task-detail__detail-modal-field-label {
  width: 80px;
  font-size: 13px;
  font-weight: 500;
  flex-shrink: 0;
}

.kanban .task-detail__detail-modal-field-content-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.kanban .task-detail__detail-modal-field-content-list--user {
  gap: 12px
}

.kanban .task-detail__detail-modal-field-value-item {
  height: 24px;
  max-width: 160px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #E4E8EE;
  border-radius: 4px;
  box-sizing: border-box;
}

.kanban .task-detail__detail-modal-field-value-item--option {
  padding: 4px;
  gap: 8px;
  font-size: 13px;
  font-weight: 400;
  color: #0F1B2A;
}

.kanban .task-detail__detail-modal-field-item--email {
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
  cursor: copy;
}

.kanban .task-detail__detail-modal-field-item--attachment {
  padding: 4px 8px 4px 6px;
  gap: 8px;
  font-size: 13px;
  font-weight: 400;
}

.kanban .task-detail__detail-modal-field-value-item-attachment-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.kanban .task-detail__detail-modal-field-item--multi-selection {
  color: #8D99A8;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.kanban .task-detail__detail-modal-field-item--text {
  font-size: 13px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
}

.kanban .task-detail__detail-modal-field-item--numeric {
  display: flex;
  gap: 4px;
  font-size: 13px;
  font-weight: 400;
}

.kanban .task-detail__detail-modal-field-value-item--id {
  font-size: 13px;
  font-weight: 400;
}

.kanban .task-detail__detail-modal-field-value-item--user {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

/* URL 필드 컨텐츠 */
.kanban .task-detail__detail-modal-field-value-item-url-favicon {
  width: 16px;
  padding: 1px 0;
}

.kanban .task-detail__detail-modal-field-value-item-url-link {
  display: inline-block;
  flex: 1;
  font-size: 13px;
  font-weight: 400;
  color: #0F1B2A;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.kanban .task-detail__detail-modal-field-value-item-attachment-name {
  font-size: 13px;
  font-weight: 400;
  color: #0F1B2A;
}

.kanban .task-detail__detail-modal-field-value-item-attachment-download {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

/* expanded toggle */
.kanban .task-detail__detail-modal-field-expand-toggle {
  color: #8D99A8;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.kanban .task-detail__detail-modal-field-expand-toggle-icon-wrapper {
  width: fit-content;
  height: fit-content;
}

.kanban .task-detail__detail-modal-field-expand-toggle-count {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.kanban .task-detail__detail-modal-field-expand-text {
  color: #16B364;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}